<div class="col-md-6 p-2">
  <script src="https://embed.github.com/view/3d/hnaderi/sstc/gh-pages/<%= part %>"></script>
  <a href="<%= part %>">
    <img
      alt="Download STL"
      src="https://img.shields.io/badge/Download_STL-blue?style=for-the-badge"
    />
  </a>
</div>
